.button {
    border: none;
    height: 50px;
    font-size: medium;
    font-weight: bold;
    margin: 16px;
}

.ParticipantAdder label {
    margin: 4px;
    font-weight: bold;
}

.ParticipantAdder input {
    margin: 8px;
}

.ParticipantAdder {
    border: 1px solid black;
}