.ParticipantsList {
    display: flex;
    margin: 32px;
}

.ParticipantsList table {
    border-collapse: collapse;
    width: 50vw;
}

.ParticipantsList td, .ParticipantsList th {
    border: 1px solid gray;
    padding: 16px;
    text-align: center;
}

.ParticipantsList th {
    background: rosybrown;
}

.ParticipantsListBody tr:nth-child(even) {
    background: antiquewhite;
}

.InitiativeTrackerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Cell {
    width: 2rem;
}